In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np

In [2]:
df_food = pd.read_csv("./input/FAO.csv")

In [3]:
df_food.head()
df_food.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [4]:
#df_food.columns

In [5]:
df_food=df_food[['Area', 'Unit', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013']]

In [6]:
df_food.head()

,Area,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,Afghanistan,1000 tonnes,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,Afghanistan,1000 tonnes,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,Afghanistan,1000 tonnes,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,Afghanistan,1000 tonnes,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,Afghanistan,1000 tonnes,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [7]:
url = 'https://stats.oecd.org/Index.aspx?DataSetCode=AIR_GHG'

In [8]:
res = requests.get(url)
html = res.text
soup = BeautifulSoup(html, 'html.parser')

In [9]:
country=soup.findAll(True, {'class':['RowDimLabel', 'RowDimLabel2']})
country_col=[]
for c in country:
        country_col.append((c.text))

In [10]:
country_data=soup.findAll(True, {'class':'Data'})
country_datacol=[]

In [11]:
#row2 = soup.find_all('tr', attrs={'class':'row2'})
valores=[]
#for row in row2:    
    #r=row.select('.Data2')    
    #for d in r:
        #valores.append(d.text)
#print(valores)
#type(valores[1])

In [12]:
name_col = []
for f in range(1990, 2018):
    name_col.append(str('{}'.format(f)))

In [13]:
empty_df= pd.DataFrame(np.zeros([len(set(country_col))-1, len(name_col)])*np.nan)

In [14]:
empty_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
empty_df.columns = empty_df.columns[:0].tolist() + name_col

In [16]:
empty_df.columns

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [17]:
#empty_df.head()

In [18]:
def ExtractOddColValues(odd_number):
    odd_values=[]
    odd_row = soup.find_all('tr', attrs={'class':'row{}'.format(odd_number)})
    for row in odd_row:    
        r=row.select('.Data')    
        for d in r:
            values_per_row=str(d.text.replace(u'\xa0', u''))
            odd_values.append(values_per_row)
    valores.append(odd_values)

In [19]:
def ExtractEvenColValues(even_number):
    even_values=[]
    even_row = soup.find_all('tr', attrs={'class':'row{}'.format(even_number)})
    for row in even_row:    
        r=row.select('.Data2')    
        for d in r:
            values_per_row=str(d.text.replace(u'\xa0', u''))
            even_values.append(values_per_row)
    valores.append(even_values)

In [20]:
for number in range(1, 49):
    if number%2==0:
        ExtractEvenColValues(number)
    else:
        ExtractOddColValues(number)

In [21]:
len(valores)

48

In [22]:
#print(valores)

In [23]:
for value_list in range(len(valores)):
    empty_df.loc[value_list] = valores[value_list]

In [24]:
#empty_df.head()

In [25]:
eu=['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
    'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 
    'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom']

In [26]:
df_emissions=empty_df.drop(48)

In [27]:
countries=[country for country in country_col if country!='']

In [28]:
print(countries)
countries.remove('Non-OECD Economies')

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States', 'European Union (28 countries)', 'OECD - Europe', 'OECD - Total', 'Non-OECD Economies', 'Argentina', 'Brazil', "China (People's Republic of)", 'Colombia', 'Costa Rica', 'India', 'Indonesia', 'Russia', 'South Africa']

In [29]:
df_emissions.insert(0, 'Country', countries)

In [30]:
df_emissions.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Australia,420315.32,421381.46,425702.48,426232.23,426304.97,434912.95,442506.14,454629.30,468405.89,...,537031.99,540913.37,537275.25,538280.61,540615.87,530433.52,524957.10,535173.67,546771.76,554126.56
1,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53,76679.76,78897.25,79596.11,82261.47
2,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38,113505.97,117122.09,115783.18,114539.90
3,Canada,602184.44,593402.36,610440.86,612264.42,633675.45,651011.02,672053.10,686988.02,694531.39,...,723225.10,681699.30,692618.85,703378.95,711023.23,722062.81,723090.99,721992.08,707727.17,715749.23
4,Chile,52015.93,50681.03,52578.97,55432.31,58349.10,61452.14,67715.10,75203.29,76151.21,...,94261.93,90886.58,91862.26,99861.19,104492.36,104304.35,101473.89,108243.31,111677.51,..

In [31]:
df_emissions.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [32]:
df_emissions=df_emissions[['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']]

In [33]:
df_emissions['Country'][28]='Slovakia'

In [34]:
df_emissions = df_emissions[df_emissions['Country'].isin(eu)]

In [35]:
df_emissions=df_emissions.replace('..', 0.0) #esto cambiarlo por nulos?

In [36]:
def ChangeColType(col):
    if col=='Country':
        df_emissions[col] = df_emissions[col].astype(str)
    else:
        df_emissions[col] = df_emissions[col].astype(float)

for col in df_emissions.columns:
    ChangeColType(col)

In [37]:
#print(df_emissions.dtypes)

In [38]:
df_emissions.shape

(23, 25)

In [39]:
df_emissions['Activity']= 'Pollution emissions'

In [40]:
df_emissions.to_csv(r'./output/Pollution-emissions.csv')

Cleaning the food production dataframe.

In [41]:
df_food=df_food.groupby('Area').sum()
df_food

,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9481.0,9414.0,9194.0,10170.0,10473.0,10169.0,11289.0,11508.0,11815.0,10454.0,...,16542.0,17658.0,18317.0,19248.0,19381.0,20661.0,21030.0,21100.0,22706,23007
Albania,1706.0,1749.0,1767.0,1889.0,1884.0,1995.0,2046.0,2169.0,2230.0,2395.0,...,6637.0,6719.0,6911.0,6744.0,7168.0,7316.0,7907.0,8114.0,8221,8271
Algeria,7488.0,7235.0,6861.0,7255.0,7509.0,7536.0,7986.0,8839.0,9003.0,9355.0,...,48619.0,49562.0,51067.0,49933.0,50916.0,57505.0,60071.0,65852.0,69365,72161
Angola,4834.0,4775.0,5240.0,5286.0,5527.0,5677.0,5833.0,5685.0,6219.0,6460.0,...,25541.0,26696.0,28247.0,29877.0,32053.0,36985.0,38400.0,40573.0,38064,48639
Antigua and Barbuda,92.0,94.0,105.0,95.0,84.0,73.0,64.0,59.0,68.0,77.0,...,92.0,115.0,110.0,122.0,115.0,114.0,115.0,118.0,113,119
Argentina,43402.0,40784.0,40219.0,41638.0,44936.0,46738.0,47437.0,50357.0,52029.0,54203.0,...,64558.0,72316.0,72146.0,74148.0,75939.0,68422.0,73042.0,78764.0,75946,80843
Armenia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5515.0,5992.0,6228.0,6753.0,6958.0,6824.0,5908.0,6423.0,6978,7175
Australia,25795.0,27618.0,28902.0,29107.0,28961.0,30558.0,30443.0,31344.0,32747.0,33843.0,...,58006.0,63711.0,62564.0,62637.0,64438.0,59813.0,64926.0,61871.0,61955,62446
Austria,22542.0,22627.0,23637.0,24099.0,22664.0,23785.0,23949.0,25094.0,24044.0,24139.0,...,24465.0,24466.0,24030.0,24431.0,25267.0,24731.0,24518.0,25444.0,24071,24990
Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13534.0,14964.0,15739.0,16744.0,16963.0,17602.0,17674.0,18329.0,19196,20162
Bahamas,138.0,142.0,152.0,167.0,173.0,195.0,204.0,221.0,239.0,248.0,...,549.0,561.0,540.0,529.0,542.0,549.0,584.0,575.0,637,629
Bangladesh,29451.0,29975.0,31446.0,32434.0,33108.0,34189.0,34370.0,36969.0,38603.0,40217.0,...,91553.0,95922.0,98551.0,102689.0,107443.0,108517.0,115357.0,116208.0,117387,120854
Barbados,244.0,252.0,264.0,254.0,253.0,262.0,283.0,272.0,285.0,300.0,...,417.0,464.0,461.0,487.0,497.0,483.0,483.0,467.0,461,469
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,44093.0,43002.0,42217.0,44649.0,47961.0,44981.0,42860.0,42515.0,42527,37852
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35273.0,32353.0,32234.0,35016.0,34902.0,34964.0,32708.0,32196.0,31326,33336
Belize,91.0,106.0,103.0,104.0,104.0,104.0,112.0,114.0,109.0,136.0,...,442.0,460.0,465.0,501.0,501.0,507.0,527.0,511.0,533,552
Benin,2270.0,2247.0,2209.0,2287.0,2484.0,2554.0,2618.0,2847.0,2774.0,2831.0,...,11581.0,11512.0,11678.0,12167.0,12799.0,13432.0,14064.0,15078.0,15452,16481
Bermuda,67.0,68.0,70.0,72.0,73.0,73.0,76.0,79.0,74.0,85.0,...,86.0,91.0,93.0,92.0,93.0,92.0,85.0,85.0,86,106
Bolivia (Plurinational State of),3494.0,3613.0,3848.0,3764.0,4083.0,4182.0,4387.0,4656.0,4644.0,4960.0,...,10005.0,10667.0,10760.0,11077.0,11607.0,11465.0,11864.0,12136.0,12342,13515
Bosnia and Herzegovina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8741.0,8817.0,8463.0,8412.0,8805.0,8868.0,8170.0,8377.0,7939,8456
Botswana,475.0,477.0,510.0,524.0,545.0,548.0,566.0,584.0,600.0,637.0,...,1848.0,1836.0,1881.0,2021.0,2107.0,1948.0,2012.0,2059.0,2212,2272
Brazil,126501.0,142536.0,152178.0,154698.0,152060.0,165022.0,164557.0,188016.0,182424.0,174144.0,...,353635.0,357158.0,376499.0,384071.0,423546.0,410338.0,429110.0,449439.0,439247,439967
Brunei Darussalam,62.0,65.0,78.0,80.0,81.0,95.0,97.0,99.0,110.0,112.0,...,482.0,497.0,478.0,484.0,501.0,499.0,513.0,485.0,512,547
Bulgaria,15979.0,15990.0,17748.0,18812.0,18178.0,20501.0,19766.0,20146.0,20984.0,21607.0,...,17512.0,15388.0,14713.0,13637.0,13079.0,13281.0,13463.0,13007.0,11841,12335
Burkina Faso,3368.0,3435.0,3943.0,3950.0,4040.0,4159.0,4443.0,4575.0,4495.0,4553.0,...,14160.0,14599.0,15021.0,15271.0,15718.0,16567.0,17374.0,17582.0,18343,18980
Cabo Verde,141.0,139.0,137.0,147.0,155.0,149.0,162.0,156.0,182.0,168.0,...,642.0,637.0,663.0,686.0,680.0,654.0,660.0,695.0,713,721
Cambodia,3736.0,3712.0,4025.0,4139.0,4175.0,4236.0,4573.0,4584.0,4592.0,5069.0,...,9055.0,9856.0,10507.0,10750.0,10976.0,11713.0,11848.0,12487.0,13096,13635
Cameroon,5975.0,6172.0,6635.0,6745.0,6351.0,6902.0,7258.0,7586.0,7382.0,7789.0,...,21529.0,23527.0,24909.0,25920.0,27218.0,29466.0,30516.0,32104.0,33410,34852
Canada,54470.0,60336.0,62513.0,61426.0,64372.0,68399.0,67067.0,68366.0,77068.0,77392.0,...,113953.0,115265.0,110961.0,116895.0,114244.0,106887.0,104080.0,105925.0,109007,120167
Central African Republic,2152.0,2056.0,2057.0,2043.0,2340.0,2052.0,2179.0,2255.0,2354.0,2480.0,...,3764.0,3879.0,3934.0,4085.0,4232.0,4340.0,4529.0,4671.0,4754,4187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,57983.0,58728.0,64092.0,63547.0,64796.0,70248.0,71315.0,74617.0,76067.0,78177.0,...,142711.0,134618.0,138483.0,144947.0,141519.0,136073.0,133940.0,133445.0,127967,137594
Sri Lanka,7507.0,7546.0,8002.0,8829.0,8756.0,8933.0,9745.0,9713.0,9699.0,9865.0,...,17200.0,17453.0,18366.0,18485.0,18632.0,18923.0,19414.0,19811.0,20130,21080
Sudan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42543,43661
Suriname,236.0,237.0,280.0,295.0,297.0,349.0,389.0,381.0,440.0,452.0,...,627.0,646.0,704.0,707.0,735.0,781.0,761.0,753.0,722,752
Swaziland,368.0,374.0,363.0,369.0,382.0,401.0,428.0,449.0,476.0,504.0,...,1301.0,1298.0,1184.0,1145.0,1156.0,1168.0,1223.0,1237.0,1275,1383
Sweden,21329.0,20519.0,21241.0,22198.0,22087.0,21403.0,21892.0,22091.0,21852.0,21994.0,...,25203.0,24218.0,23504.0,24649.0,25508.0,25255.0,23938.0,25578.0,25908,26656
Switzerland,15972.0,16889.0,16917.0,17018.0,17274.0,17767.0,19114.0,18056.0,18810.0,18574.0,...,17597.0,17391.0,17447.0,18540.0,19146.0,18897.0,19135.0,20266.0,19477,19550
Tajikistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6765.0,7805.0,8457.0,8836.0,9620.0,10641.0,11380.0,11968.0,13353,14092
Thailand,20574.0,21850.0,23444.0,24234.0,24848.0,26750.0,26060.0,27940.0,30930.0,31522.0,...,88925.0,89694.0,91928.0,95211.0,95407.0,90841.0,93081.0,93429.0,99637,97689
The former Yugoslav Republic of Macedonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3969.0,3865.0,3769.0,4148.0,4298.0,4484.0,4319.0,4322.0,4230,4368
Timor-Leste,394.0,399.0,394.0,392.0,404.0,433.0,432.0,451.0,479.0,470.0,...,767.0,759.0,754.0,769.0,765.0,811.0,794.0,793.0,838,855
Togo,1673.0,1721.0,1712.0,1821.0,1899.0,1963.0,2076.0,2067.0,2088.0,2150.0,...,4912.0,4967.0,5190.0,5351.0,5456.0,5708.0,5913.0,6040.0,6362,6681
Trinidad and Tobago,747.0,792.0,829.0,889.0,912.0,939.0,970.0,955.0,1074.0,1067.0,...,1576.0,1577.0,1716.0,1642.0,1750.0,1648.0,1683.0,1834.0,1943,1949
Tunisia,3635.0,3899.0,3873.0,3874.0,4246.0,4313.0,4530.0,4498.0,4546.0,4683.0,...,17988.0,18726.0,19409.0,20226.0,19637.0,20368.0,21052.0,21264.0,22251,22823
Turkey,56830.0,58624.0,59497.0,62686.0,64604.0,65648.0,68379.0,69952.0,71100.0,73790.0,...,154477.0,155663.0,156993.0,155043.0,158375.0,159621.0,160592.0,168384.0,175040,180603
Turkmenistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11327.0,12839.0,13892.0,13463.0,13429.0,12702.0,12721.0,11762.0,11960,12054
Uganda,12799.0,13044.0,13863.0,14027.0,13682.0,13296.0,15596.0,16428.0,17385.0,21262.0,...,48407.0,48293.0,48170.0,48739.0,37211.0,38194.0,39875.0,40265.0,41005,40944
Ukraine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145999.0,135752.0,144689.0,136809.0,152149.0,126773.0,142927.0,167793.0,143969,153750
United Arab Emirates,96.0,101.0,108.0,115.0,119.0,143.0,163.0,190.0,225.0,272.0,...,6517.0,6710.0,8432.0,9817.0,11794.0,11873.0,12253.0,12943.0,14175,15444
United Kingdom,117090.0,125060.0,125159.0,127434.0,129205.0,125513.0,128649.0,132405.0,133445.0,133123.0,...,147730.0,150257.0,148738.0,146990.0,148209.0,145861.0,146770.0,146143.0,146451,149979
United Republic of Tanzania,12367.0,12810.0,13109.0,12965.0,13742.0,14517.0,14433.0,15071.0,15344.0,16190.0,...,42004.0,44312.0,47662.0,49289.0,48669.0,51600.0,53643.0,56322.0,55833,59136
United States of America,559347.0,556319.0,552630.0,555677.0,589288.0,596129.0,603444.0,628936.0,647869.0,646576.0,...,997495.0,982124.0,948891.0,965464.0,936095.0,929625.0,909478.0,892416.0,910537,938639
Uruguay,4631.0,4448.0,4682.0,4723.0,4581.0,4610.0,4327.0,4258.0,4710.0,4876.0,...,6126.0,6237.0,6149.0,6957.0,7051.0,7511.0,6879.0,7582.0,7947,7792
Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,34098.0,37844.0,41766.0,45387.0,48420.0,51204.0,55304.0,58940.0,64002,67245
Vanuatu,97.0,101.0,103.0,102.0,107.0,111.0,115.0,115.0,117.0,125.0,...,294.0,299.0,314.0,331.0,343.0,353.0,368.0,366.0,374,382
Venezuela (Bolivarian Republic of),9523.0,9369.0,9788.0,10539.0,10641.0,10772.0,11126.0,12014.0,12537.0,13503.0,...,33755.0,33423.0,35359.0,39994.0,43357.0,43545.0,45290.0,46151.0,45196,45462
Viet Nam,23856.0,25220.0,26053.0,26377.0,26961.0,27355.0,27745.0,28698.0,29565.0,30841.0,...,95462.0,98395.0,99783.0,104261.0,104562.0,107692.0,113477.0,112747.0,125554,128111
Yemen,2982.0,3038.0,3147.0,3224.0,3328.0,3358.0,3420.0,3411.0,3386.0,3348.0,...,13461.0,14057.0,14852.0,16064.0,16201.0,17127.0,17008.0,17090.0,18371,18745
Zambia,2976.0,3057.0,3069.0,3121.0,3236.0,3523.0,3688.0,3791.0,3904.0,4006.0,...,7770.0,7947.0,8277.0,8189.0,8612.0,9212.0,9787.0,10063.0,10511,10996
Zimbabwe,3260.0,3503.0,3479.0,3738.0,3940.0,3991.0,4202.0,4443.0,4486.0,4714.0,...,8218.0,8070.0,8581.0,8545.0,8492.0,8936.0,9301.0,9689.0,9915,9786

In [42]:
df_food.columns = df_food.columns.str.replace("Y", "")

In [43]:
df_food=df_food[['1990', '1991', '1992', '1993', '1994', '1995', '1996','1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']]

In [44]:
df_food.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9782.0,9638.0,9593.0,10773.0,11347.0,12005.0,12671.0,13525.0,14013.0,14315.0,...,16542.0,17658.0,18317.0,19248.0,19381.0,20661.0,21030.0,21100.0,22706,23007
Albania,4281.0,4203.0,4715.0,5213.0,6000.0,6101.0,6173.0,5553.0,5701.0,5954.0,...,6637.0,6719.0,6911.0,6744.0,7168.0,7316.0,7907.0,8114.0,8221,8271
Algeria,30190.0,31606.0,32906.0,34480.0,33537.0,34190.0,33622.0,33640.0,36214.0,37704.0,...,48619.0,49562.0,51067.0,49933.0,50916.0,57505.0,60071.0,65852.0,69365,72161
Angola,8163.0,8040.0,8551.0,8408.0,9547.0,10012.0,10394.0,10476.0,11804.0,11984.0,...,25541.0,26696.0,28247.0,29877.0,32053.0,36985.0,38400.0,40573.0,38064,48639
Antigua and Barbuda,78.0,77.0,85.0,86.0,85.0,81.0,81.0,83.0,83.0,90.0,...,92.0,115.0,110.0,122.0,115.0,114.0,115.0,118.0,113,119

In [45]:
df_food.reset_index(inplace = True)

In [46]:
df_food['Area'][41]='Republic of Cyprus'

/home/eduardo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/eduardo/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
df_food['Area'][42]='Czech Republic'

/home/eduardo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df_food = df_food[df_food['Area'].isin(eu)]
df_food.head()

,Area,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
8,Austria,24721.0,24461.0,24427.0,24317.0,24389.0,23295.0,22987.0,24459.0,23958.0,...,24465.0,24466.0,24030.0,24431.0,25267.0,24731.0,24518.0,25444.0,24071,24990
14,Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35273.0,32353.0,32234.0,35016.0,34902.0,34964.0,32708.0,32196.0,31326,33336
23,Bulgaria,26073.0,27231.0,21809.0,19150.0,19537.0,19805.0,17748.0,18398.0,19113.0,...,17512.0,15388.0,14713.0,13637.0,13079.0,13281.0,13463.0,13007.0,11841,12335
39,Croatia,0.0,0.0,9525.0,9972.0,10754.0,11546.0,11790.0,11910.0,12197.0,...,12886.0,12187.0,11916.0,11476.0,13085.0,11937.0,11475.0,11247.0,10234,11467
41,Republic of Cyprus,2320.0,2303.0,2532.0,2702.0,2598.0,2794.0,2729.0,2696.0,2735.0,...,2385.0,2141.0,2234.0,2226.0,2474.0,2337.0,2438.0,2382.0,2186,2243

In [49]:
df_food = df_food.rename(columns={"Area": "Country"})

In [50]:
df_food['Activity']= 'Food Production'

In [51]:
df_food.to_csv(r'./output/food-production.csv')

Merging both dataframes

In [52]:
df_together=pd.concat([df_food, df_emissions], ignore_index=True)

In [53]:
df_together

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Activity
0,Austria,24721.00,24461.00,24427.00,24317.00,24389.00,23295.00,22987.00,24459.00,23958.00,...,24466.00,24030.00,24431.00,25267.00,24731.00,24518.00,25444.00,24071.00,24990.00,Food Production
1,Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,32353.00,32234.00,35016.00,34902.00,34964.00,32708.00,32196.00,31326.00,33336.00,Food Production
2,Bulgaria,26073.00,27231.00,21809.00,19150.00,19537.00,19805.00,17748.00,18398.00,19113.00,...,15388.00,14713.00,13637.00,13079.00,13281.00,13463.00,13007.00,11841.00,12335.00,Food Production
3,Croatia,0.00,0.00,9525.00,9972.00,10754.00,11546.00,11790.00,11910.00,12197.00,...,12187.00,11916.00,11476.00,13085.00,11937.00,11475.00,11247.00,10234.00,11467.00,Food Production
4,Republic of Cyprus,2320.00,2303.00,2532.00,2702.00,2598.00,2794.00,2729.00,2696.00,2735.00,...,2141.00,2234.00,2226.00,2474.00,2337.00,2438.00,2382.00,2186.00,2243.00,Food Production
5,Czech Republic,0.00,0.00,0.00,25372.00,28519.00,29661.00,30701.00,29272.00,28697.00,...,28060.00,24261.00,25583.00,25978.00,26598.00,25118.00,25227.00,23546.00,23978.00,Food Production
6,Denmark,23218.00,23248.00,23610.00,23199.00,23628.00,24633.00,25524.00,26599.00,26624.00,...,28266.00,28703.00,27657.00,27209.00,26677.00,27263.00,26527.00,25719.00,27260.00,Food Production
7,Estonia,0.00,0.00,4771.00,4294.00,3646.00,3675.00,3690.00,3864.00,3800.00,...,3793.00,3469.00,4006.00,3765.00,3780.00,3514.00,3633.00,3781.00,3864.00,Food Production
8,Finland,14901.00,13797.00,13703.00,13207.00,13711.00,13951.00,14118.00,14409.00,14548.00,...,15111.00,14580.00,15526.00,15567.00,15633.00,15254.00,15835.00,16137.00,16183.00,Food Production
9,France,171107.00,176966.00,170332.00,176487.00,173802.00,171303.00,172085.00,172722.00,175638.00,...,177327.00,172824.00,172974.00,177453.00,172872.00,167332.00,169166.00,164096.00,166079.00,Food Production
10,Germany,232351.00,211866.00,211566.00,205382.00,206518.00,207780.00,211402.00,205932.00,209584.00,...,217398.00,217313.00,215849.00,221273.00,222413.00,210659.00,214165.00,215798.00,218891.00,Food Production
11,Greece,28629.00,29661.00,30188.00,30280.00,31919.00,31646.00,32471.00,32752.00,33084.00,...,35873.00,35090.00,36091.00,35304.00,34021.00,31975.00,33246.00,32503.00,32742.00,Food Production
12,Hungary,39346.00,36099.00,31499.00,29053.00,32109.00,31241.00,32118.00,31400.00,31892.00,...,30426.00,29617.00,27713.00,27344.00,26985.00,25144.00,25388.00,24185.00,23635.00,Food Production
13,Ireland,11943.00,11496.00,11424.00,11510.00,12016.00,12293.00,11903.00,12727.00,12420.00,...,15474.00,15220.00,15227.00,16917.00,15851.00,15786.00,15572.00,16010.00,18160.00,Food Production
14,Italy,148199.00,152166.00,153521.00,148887.00,147704.00,148219.00,155230.00,152197.00,156458.00,...,164683.00,160462.00,160903.00,158423.00,158382.00,154867.00,156057.00,153460.00,153450.00,Food Production
15,Latvia,0.00,0.00,8167.00,7130.00,6687.00,6164.00,6684.00,6290.00,5643.00,...,5954.00,5751.00,5778.00,5401.00,5529.00,5303.00,5462.00,5217.00,4764.00,Food Production
16,Lithuania,0.00,0.00,9667.00,11171.00,9889.00,9595.00,10950.00,12535.00,12347.00,...,11435.00,9860.00,10866.00,10258.00,10224.00,9023.00,9634.00,10017.00,10206.00,Food Production
17,Luxembourg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1290.00,1295.00,1300.00,1377.00,1345.00,1375.00,1432.00,1501.00,1511.00,Food Production
18,Malta,819.00,828.00,860.00,894.00,847.00,888.00,999.00,988.00,1099.00,...,1084.00,1049.00,1147.00,1074.00,1008.00,966.00,977.00,994.00,1003.00,Food Production
19,Netherlands,70331.00,62610.00,66338.00,58813.00,63656.00,57322.00,58885.00,55002.00,54021.00,...,51748.00,54371.00,55267.00,55742.00,54980.00,53418.00,54448.00,53325.00,53832.00,Food Production
20,Poland,149870.00,141291.00,123873.00,140162.00,124010.00,133315.00,132085.00,128013.00,138942.00,...,108920.00,105204.00,117841.00,114496.00,114009.00,111292.00,114343.00,113530.00,110067.00,Food Production
21,Portugal,28181.00,27411.00,26344.00,27717.00,28202.00,28236.00,28121.00,28212.00,30510.00,...,28393.00,27894.00,29328.00,28977.00,28312.00,28263.00,28010.00,28480.00,28049.00,Food Production
22,Romania,62989.00,60804.00,61463.00,59847.00,62280.00,61891.00,60996.00,61843.00,62742.00,...,68885.00,70546.00,65330.00,64818.00,61090.00,60827.00,66078.00,53690.00,60797.00,Food Production
23,Slovakia,0.00,0.00,0.00,13515.00,13147.00,12974.00,13712.00,13142.00,12688.00,...,10654.00,10800.00,10484.00,10704.00,11147.00,11573.00,11819.00,9786.00,10122.00,Food Production
24,Slovenia,0.00,0.00,4087.00,4454.00,4760.00,4842.00,5124.00,4998.00,4795.00,...,5182.00,4890.00,5009.00,5109.00,4901.00,4695.00,4652.00,4506.00,4495.00,Food Production
25,Spain,120074.00,120149.00,117991.00,117297.00,116546.00,110088.00,120240.00,126645.00,130147.00,...,134618.00,138483.00,144947.00,141519.00,136073.00,133940.00,133445.00,127967.00,137594.00,Food Production
26,Sweden,24271.00,23511.00,23707.00,24404.00,24661.00,24414.00,24832.00,25143.00,24751.00,...,24218.00,23504.00,24649.00,25508.00,25255.00,23938.00,25578.00,25908.00,26656.00,Food Production
27,United Kingdom,133515.00,129751.00,132955.00,131707.00,133588.00,129456.00,134946.00,137653.00,137296.00,...,150257.00,148738.00,146990.00,148209.00,145861.00,146770.00,146143.00,146451.00,149979.00,Food Production
28,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53,Pollution emissions
29,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38,Pollution emissions
30,Czech Republic,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,148998.24,...,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10,Pollution emissions
31,Denmark,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,78076.83,...,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37,Pollution emissions
32,Estonia,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,18995.56,...,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91,Pollution emissions
33,Finland,71133.01,68905.03,67468.05,69727.63,75345.91,71788.16,77674.76,76255.50,72566.21,...,69812.90,81174.19,79513.29,71399.31,67804.04,75626.97,67805.30,62415.21,62893.83,Pollution emissions
34,France,551048.69,578336.07,566696.93,545037.07,538663.61,546758.33,564086.62,556744.45,570618.93,...,559498.93,547093.23,536947.73,530315.42,510350.61,517115.54,491009.45,490856.47,491141.06,Pollution emissions
35,Germany,1250992.61,1203924.49,1153796.50,1144856.75,1125835.20,1123034.59,1141084.77,1106000.52,1080728.82,...,993343.68,1000637.86,973941.70,975645.90,908054.02,942541.89,920305.85,924611.40,942250.05,Pollution emissions
36,Greece,103101.31,103172.44,104423.09,104013.10,106804.21,109155.97,112302.56,117213.49,122812.01,...,136281.25,132390.97,134996.58,131716.46,124534.99,118436.49,115453.96,112146.28,102546.57,Pollution emissions
37,Hungary,93655.93,86996.93,76993.74,77860.25,76733.49,75319.56,77621.21,76126.02,75668.40,...,75359.66,74143.45,72383.62,70576.45,64585.79,64949.13,63351.01,59647.18,56795.77,Pollution emissions
38,Ireland,55417.06,56097.26,55959.17,56359.82,57697.03,59177.47,61272.68,62652.43,65173.64,...,69495.03,68782.23,68018.50,67301.83,61547.23,61104.84,56989.19,57611.53,57410.22,Pollution emissions
39,Italy,517745.65,518908.77,515451.15,509407.90,503474.65,532419.03,525294.65,531865.22,543114.44,...,580599.89,570044.72,560568.96,547846.69,496177.67,505773.05,492475.31,472722.36,442708.38,Pollution emissions
40,Latvia,26259.46,24365.54,19616.52,16199.65,14269.26,12893.29,12934.45,12382.56,11883.59,...,11387.93,11883.79,12339.42,11873.99,11176.16,12279.23,11489.40,11327.46,11259.72,Pollution emissions
41,Lithuania,48213.47,50213.09,30935.26,24834.45,23378.43,22348.70,23373.07,22907.43,23844.27,...,22849.56,23141.98,25294.38,24321.86,19909.40,20728.51,21294.55,21228.99,19945.81,Pollution emissions
42,Luxembourg,12756.38,13404.09,13132.85,13287.47,12466.21,10093.18,10154.56,9504.71,8626.68,...,13024.76,12852.45,12267.33,12153.88,11607.67,12180.08,12061.97,11781.30,11238.61,Pollution emissions
43,Netherlands,220793.63,228440.89,229170.72,229929.21,230815.64,231011.59,242076.95,233882.30,234437.62,...,214308.46,209233.95,207700.18,207095.00,201412.67,213363.03,199235.36,195346.94,194953.95,Pollution emissions
44,Poland,474350.11,462290.21,449315.75,448829.50,443645.88,444963.25,458389.54,449500.94,417992.08,...,403424.42,418137.52,418633.15,411395.64,393443.18,411668.71,411033.61,403648.28,399974.18,Pollution emissions
45,Portugal,59091.60,60795.85,65086.35,63669.57,64535.96,68927.38,66652.41,69943.26,74682.24,...,85610.35,80855.01,78574.83,76157.33,73032.49,68800.68,67416.85,65556.09,63710.73,Pollution emissions
46,Slovakia,73361.59,63969.61,58543.98,55034.44,52614.58,53212.04,53161.89,53023.21,52434.57,...,51142.22,51030.32,49243.41,49712.73,45429.07,46295.49,45545.21,43057.23,42727.14,Pollution emissions
47,Slovenia,18639.29,17320.15,17419.12,17621.30,18025.28,18720.72,19355.67,19707.85,19464.38,...,20519.46,20707.17,20847.16,21572.75,19601.55,19625.91,19634.79,19062.29,18359.17,Pollution emissions
48,Spain,288492.48,296204.04,305976.11,295737.62,312540.18,328614.07,320379.31,334703.80,344565.81,...,441038.21,434005.89,445157.52,411404.41,372107.49,357676.78,357344.00,350671.71,323441.20,Pollution emissions
49,Sweden,71303.68,71481.93,70923.03,71192.34,73570.96,73287.20,76893.86,72137.14,72496.34,...,66587.27,66536.13,64935.64,62566.50,58340.46,64282.22,60207.29,56872.55,55366.28,Pollution emissions
50,United Kingdom,797947.89,807118.94,786249.39,766960.72,757971.58,751272.37,773285.55,747861.87,746499.57,...,695164.99,688015.34,676322.44,655903.39,599870.78,614360.62,567160.79,583652.53,569901.74,Pollution emissions

In [54]:
df_together.sort_values(by=['Country'])

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Activity
0,Austria,24721.00,24461.00,24427.00,24317.00,24389.00,23295.00,22987.00,24459.00,23958.00,...,24466.00,24030.00,24431.00,25267.00,24731.00,24518.00,25444.00,24071.00,24990.00,Food Production
28,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53,Pollution emissions
1,Belgium,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,32353.00,32234.00,35016.00,34902.00,34964.00,32708.00,32196.00,31326.00,33336.00,Food Production
29,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38,Pollution emissions
2,Bulgaria,26073.00,27231.00,21809.00,19150.00,19537.00,19805.00,17748.00,18398.00,19113.00,...,15388.00,14713.00,13637.00,13079.00,13281.00,13463.00,13007.00,11841.00,12335.00,Food Production
3,Croatia,0.00,0.00,9525.00,9972.00,10754.00,11546.00,11790.00,11910.00,12197.00,...,12187.00,11916.00,11476.00,13085.00,11937.00,11475.00,11247.00,10234.00,11467.00,Food Production
5,Czech Republic,0.00,0.00,0.00,25372.00,28519.00,29661.00,30701.00,29272.00,28697.00,...,28060.00,24261.00,25583.00,25978.00,26598.00,25118.00,25227.00,23546.00,23978.00,Food Production
30,Czech Republic,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,148998.24,...,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10,Pollution emissions
6,Denmark,23218.00,23248.00,23610.00,23199.00,23628.00,24633.00,25524.00,26599.00,26624.00,...,28266.00,28703.00,27657.00,27209.00,26677.00,27263.00,26527.00,25719.00,27260.00,Food Production
31,Denmark,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,78076.83,...,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37,Pollution emissions
7,Estonia,0.00,0.00,4771.00,4294.00,3646.00,3675.00,3690.00,3864.00,3800.00,...,3793.00,3469.00,4006.00,3765.00,3780.00,3514.00,3633.00,3781.00,3864.00,Food Production
32,Estonia,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,18995.56,...,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91,Pollution emissions
8,Finland,14901.00,13797.00,13703.00,13207.00,13711.00,13951.00,14118.00,14409.00,14548.00,...,15111.00,14580.00,15526.00,15567.00,15633.00,15254.00,15835.00,16137.00,16183.00,Food Production
33,Finland,71133.01,68905.03,67468.05,69727.63,75345.91,71788.16,77674.76,76255.50,72566.21,...,69812.90,81174.19,79513.29,71399.31,67804.04,75626.97,67805.30,62415.21,62893.83,Pollution emissions
9,France,171107.00,176966.00,170332.00,176487.00,173802.00,171303.00,172085.00,172722.00,175638.00,...,177327.00,172824.00,172974.00,177453.00,172872.00,167332.00,169166.00,164096.00,166079.00,Food Production
34,France,551048.69,578336.07,566696.93,545037.07,538663.61,546758.33,564086.62,556744.45,570618.93,...,559498.93,547093.23,536947.73,530315.42,510350.61,517115.54,491009.45,490856.47,491141.06,Pollution emissions
10,Germany,232351.00,211866.00,211566.00,205382.00,206518.00,207780.00,211402.00,205932.00,209584.00,...,217398.00,217313.00,215849.00,221273.00,222413.00,210659.00,214165.00,215798.00,218891.00,Food Production
35,Germany,1250992.61,1203924.49,1153796.50,1144856.75,1125835.20,1123034.59,1141084.77,1106000.52,1080728.82,...,993343.68,1000637.86,973941.70,975645.90,908054.02,942541.89,920305.85,924611.40,942250.05,Pollution emissions
36,Greece,103101.31,103172.44,104423.09,104013.10,106804.21,109155.97,112302.56,117213.49,122812.01,...,136281.25,132390.97,134996.58,131716.46,124534.99,118436.49,115453.96,112146.28,102546.57,Pollution emissions
11,Greece,28629.00,29661.00,30188.00,30280.00,31919.00,31646.00,32471.00,32752.00,33084.00,...,35873.00,35090.00,36091.00,35304.00,34021.00,31975.00,33246.00,32503.00,32742.00,Food Production
37,Hungary,93655.93,86996.93,76993.74,77860.25,76733.49,75319.56,77621.21,76126.02,75668.40,...,75359.66,74143.45,72383.62,70576.45,64585.79,64949.13,63351.01,59647.18,56795.77,Pollution emissions
12,Hungary,39346.00,36099.00,31499.00,29053.00,32109.00,31241.00,32118.00,31400.00,31892.00,...,30426.00,29617.00,27713.00,27344.00,26985.00,25144.00,25388.00,24185.00,23635.00,Food Production
38,Ireland,55417.06,56097.26,55959.17,56359.82,57697.03,59177.47,61272.68,62652.43,65173.64,...,69495.03,68782.23,68018.50,67301.83,61547.23,61104.84,56989.19,57611.53,57410.22,Pollution emissions
13,Ireland,11943.00,11496.00,11424.00,11510.00,12016.00,12293.00,11903.00,12727.00,12420.00,...,15474.00,15220.00,15227.00,16917.00,15851.00,15786.00,15572.00,16010.00,18160.00,Food Production
39,Italy,517745.65,518908.77,515451.15,509407.90,503474.65,532419.03,525294.65,531865.22,543114.44,...,580599.89,570044.72,560568.96,547846.69,496177.67,505773.05,492475.31,472722.36,442708.38,Pollution emissions
14,Italy,148199.00,152166.00,153521.00,148887.00,147704.00,148219.00,155230.00,152197.00,156458.00,...,164683.00,160462.00,160903.00,158423.00,158382.00,154867.00,156057.00,153460.00,153450.00,Food Production
40,Latvia,26259.46,24365.54,19616.52,16199.65,14269.26,12893.29,12934.45,12382.56,11883.59,...,11387.93,11883.79,12339.42,11873.99,11176.16,12279.23,11489.40,11327.46,11259.72,Pollution emissions
15,Latvia,0.00,0.00,8167.00,7130.00,6687.00,6164.00,6684.00,6290.00,5643.00,...,5954.00,5751.00,5778.00,5401.00,5529.00,5303.00,5462.00,5217.00,4764.00,Food Production
41,Lithuania,48213.47,50213.09,30935.26,24834.45,23378.43,22348.70,23373.07,22907.43,23844.27,...,22849.56,23141.98,25294.38,24321.86,19909.40,20728.51,21294.55,21228.99,19945.81,Pollution emissions
16,Lithuania,0.00,0.00,9667.00,11171.00,9889.00,9595.00,10950.00,12535.00,12347.00,...,11435.00,9860.00,10866.00,10258.00,10224.00,9023.00,9634.00,10017.00,10206.00,Food Production
42,Luxembourg,12756.38,13404.09,13132.85,13287.47,12466.21,10093.18,10154.56,9504.71,8626.68,...,13024.76,12852.45,12267.33,12153.88,11607.67,12180.08,12061.97,11781.30,11238.61,Pollution emissions
17,Luxembourg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1290.00,1295.00,1300.00,1377.00,1345.00,1375.00,1432.00,1501.00,1511.00,Food Production
18,Malta,819.00,828.00,860.00,894.00,847.00,888.00,999.00,988.00,1099.00,...,1084.00,1049.00,1147.00,1074.00,1008.00,966.00,977.00,994.00,1003.00,Food Production
43,Netherlands,220793.63,228440.89,229170.72,229929.21,230815.64,231011.59,242076.95,233882.30,234437.62,...,214308.46,209233.95,207700.18,207095.00,201412.67,213363.03,199235.36,195346.94,194953.95,Pollution emissions
19,Netherlands,70331.00,62610.00,66338.00,58813.00,63656.00,57322.00,58885.00,55002.00,54021.00,...,51748.00,54371.00,55267.00,55742.00,54980.00,53418.00,54448.00,53325.00,53832.00,Food Production
20,Poland,149870.00,141291.00,123873.00,140162.00,124010.00,133315.00,132085.00,128013.00,138942.00,...,108920.00,105204.00,117841.00,114496.00,114009.00,111292.00,114343.00,113530.00,110067.00,Food Production
44,Poland,474350.11,462290.21,449315.75,448829.50,443645.88,444963.25,458389.54,449500.94,417992.08,...,403424.42,418137.52,418633.15,411395.64,393443.18,411668.71,411033.61,403648.28,399974.18,Pollution emissions
45,Portugal,59091.60,60795.85,65086.35,63669.57,64535.96,68927.38,66652.41,69943.26,74682.24,...,85610.35,80855.01,78574.83,76157.33,73032.49,68800.68,67416.85,65556.09,63710.73,Pollution emissions
21,Portugal,28181.00,27411.00,26344.00,27717.00,28202.00,28236.00,28121.00,28212.00,30510.00,...,28393.00,27894.00,29328.00,28977.00,28312.00,28263.00,28010.00,28480.00,28049.00,Food Production
4,Republic of Cyprus,2320.00,2303.00,2532.00,2702.00,2598.00,2794.00,2729.00,2696.00,2735.00,...,2141.00,2234.00,2226.00,2474.00,2337.00,2438.00,2382.00,2186.00,2243.00,Food Production
22,Romania,62989.00,60804.00,61463.00,59847.00,62280.00,61891.00,60996.00,61843.00,62742.00,...,68885.00,70546.00,65330.00,64818.00,61090.00,60827.00,66078.00,53690.00,60797.00,Food Production
23,Slovakia,0.00,0.00,0.00,13515.00,13147.00,12974.00,13712.00,13142.00,12688.00,...,10654.00,10800.00,10484.00,10704.00,11147.00,11573.00,11819.00,9786.00,10122.00,Food Production
46,Slovakia,73361.59,63969.61,58543.98,55034.44,52614.58,53212.04,53161.89,53023.21,52434.57,...,51142.22,51030.32,49243.41,49712.73,45429.07,46295.49,45545.21,43057.23,42727.14,Pollution emissions
47,Slovenia,18639.29,17320.15,17419.12,17621.30,18025.28,18720.72,19355.67,19707.85,19464.38,...,20519.46,20707.17,20847.16,21572.75,19601.55,19625.91,19634.79,19062.29,18359.17,Pollution emissions
24,Slovenia,0.00,0.00,4087.00,4454.00,4760.00,4842.00,5124.00,4998.00,4795.00,...,5182.00,4890.00,5009.00,5109.00,4901.00,4695.00,4652.00,4506.00,4495.00,Food Production
48,Spain,288492.48,296204.04,305976.11,295737.62,312540.18,328614.07,320379.31,334703.80,344565.81,...,441038.21,434005.89,445157.52,411404.41,372107.49,357676.78,357344.00,350671.71,323441.20,Pollution emissions
25,Spain,120074.00,120149.00,117991.00,117297.00,116546.00,110088.00,120240.00,126645.00,130147.00,...,134618.00,138483.00,144947.00,141519.00,136073.00,133940.00,133445.00,127967.00,137594.00,Food Production
26,Sweden,24271.00,23511.00,23707.00,24404.00,24661.00,24414.00,24832.00,25143.00,24751.00,...,24218.00,23504.00,24649.00,25508.00,25255.00,23938.00,25578.00,25908.00,26656.00,Food Production
49,Sweden,71303.68,71481.93,70923.03,71192.34,73570.96,73287.20,76893.86,72137.14,72496.34,...,66587.27,66536.13,64935.64,62566.50,58340.46,64282.22,60207.29,56872.55,55366.28,Pollution emissions
27,United Kingdom,133515.00,129751.00,132955.00,131707.00,133588.00,129456.00,134946.00,137653.00,137296.00,...,150257.00,148738.00,146990.00,148209.00,145861.00,146770.00,146143.00,146451.00,149979.00,Food Production
50,United Kingdom,797947.89,807118.94,786249.39,766960.72,757971.58,751272.37,773285.55,747861.87,746499.57,...,695164.99,688015.34,676322.44,655903.39,599870.78,614360.62,567160.79,583652.53,569901.74,Pollution emissions

In [55]:
df_together.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       'Activity'],
      dtype='object')

In [56]:
df_together=df_together[['Country','Activity','1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       ]]

In [57]:
df_together

,Country,Activity,1990,1991,1992,1993,1994,1995,1996,1997,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Austria,Food Production,24721.00,24461.00,24427.00,24317.00,24389.00,23295.00,22987.00,24459.00,...,24465.00,24466.00,24030.00,24431.00,25267.00,24731.00,24518.00,25444.00,24071.00,24990.00
1,Belgium,Food Production,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,35273.00,32353.00,32234.00,35016.00,34902.00,34964.00,32708.00,32196.00,31326.00,33336.00
2,Bulgaria,Food Production,26073.00,27231.00,21809.00,19150.00,19537.00,19805.00,17748.00,18398.00,...,17512.00,15388.00,14713.00,13637.00,13079.00,13281.00,13463.00,13007.00,11841.00,12335.00
3,Croatia,Food Production,0.00,0.00,9525.00,9972.00,10754.00,11546.00,11790.00,11910.00,...,12886.00,12187.00,11916.00,11476.00,13085.00,11937.00,11475.00,11247.00,10234.00,11467.00
4,Republic of Cyprus,Food Production,2320.00,2303.00,2532.00,2702.00,2598.00,2794.00,2729.00,2696.00,...,2385.00,2141.00,2234.00,2226.00,2474.00,2337.00,2438.00,2382.00,2186.00,2243.00
5,Czech Republic,Food Production,0.00,0.00,0.00,25372.00,28519.00,29661.00,30701.00,29272.00,...,28448.00,28060.00,24261.00,25583.00,25978.00,26598.00,25118.00,25227.00,23546.00,23978.00
6,Denmark,Food Production,23218.00,23248.00,23610.00,23199.00,23628.00,24633.00,25524.00,26599.00,...,27889.00,28266.00,28703.00,27657.00,27209.00,26677.00,27263.00,26527.00,25719.00,27260.00
7,Estonia,Food Production,0.00,0.00,4771.00,4294.00,3646.00,3675.00,3690.00,3864.00,...,3522.00,3793.00,3469.00,4006.00,3765.00,3780.00,3514.00,3633.00,3781.00,3864.00
8,Finland,Food Production,14901.00,13797.00,13703.00,13207.00,13711.00,13951.00,14118.00,14409.00,...,15085.00,15111.00,14580.00,15526.00,15567.00,15633.00,15254.00,15835.00,16137.00,16183.00
9,France,Food Production,171107.00,176966.00,170332.00,176487.00,173802.00,171303.00,172085.00,172722.00,...,181238.00,177327.00,172824.00,172974.00,177453.00,172872.00,167332.00,169166.00,164096.00,166079.00
10,Germany,Food Production,232351.00,211866.00,211566.00,205382.00,206518.00,207780.00,211402.00,205932.00,...,215978.00,217398.00,217313.00,215849.00,221273.00,222413.00,210659.00,214165.00,215798.00,218891.00
11,Greece,Food Production,28629.00,29661.00,30188.00,30280.00,31919.00,31646.00,32471.00,32752.00,...,37606.00,35873.00,35090.00,36091.00,35304.00,34021.00,31975.00,33246.00,32503.00,32742.00
12,Hungary,Food Production,39346.00,36099.00,31499.00,29053.00,32109.00,31241.00,32118.00,31400.00,...,30819.00,30426.00,29617.00,27713.00,27344.00,26985.00,25144.00,25388.00,24185.00,23635.00
13,Ireland,Food Production,11943.00,11496.00,11424.00,11510.00,12016.00,12293.00,11903.00,12727.00,...,15756.00,15474.00,15220.00,15227.00,16917.00,15851.00,15786.00,15572.00,16010.00,18160.00
14,Italy,Food Production,148199.00,152166.00,153521.00,148887.00,147704.00,148219.00,155230.00,152197.00,...,167995.00,164683.00,160462.00,160903.00,158423.00,158382.00,154867.00,156057.00,153460.00,153450.00
15,Latvia,Food Production,0.00,0.00,8167.00,7130.00,6687.00,6164.00,6684.00,6290.00,...,5657.00,5954.00,5751.00,5778.00,5401.00,5529.00,5303.00,5462.00,5217.00,4764.00
16,Lithuania,Food Production,0.00,0.00,9667.00,11171.00,9889.00,9595.00,10950.00,12535.00,...,10937.00,11435.00,9860.00,10866.00,10258.00,10224.00,9023.00,9634.00,10017.00,10206.00
17,Luxembourg,Food Production,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1308.00,1290.00,1295.00,1300.00,1377.00,1345.00,1375.00,1432.00,1501.00,1511.00
18,Malta,Food Production,819.00,828.00,860.00,894.00,847.00,888.00,999.00,988.00,...,1103.00,1084.00,1049.00,1147.00,1074.00,1008.00,966.00,977.00,994.00,1003.00
19,Netherlands,Food Production,70331.00,62610.00,66338.00,58813.00,63656.00,57322.00,58885.00,55002.00,...,55990.00,51748.00,54371.00,55267.00,55742.00,54980.00,53418.00,54448.00,53325.00,53832.00
20,Poland,Food Production,149870.00,141291.00,123873.00,140162.00,124010.00,133315.00,132085.00,128013.00,...,119996.00,108920.00,105204.00,117841.00,114496.00,114009.00,111292.00,114343.00,113530.00,110067.00
21,Portugal,Food Production,28181.00,27411.00,26344.00,27717.00,28202.00,28236.00,28121.00,28212.00,...,30299.00,28393.00,27894.00,29328.00,28977.00,28312.00,28263.00,28010.00,28480.00,28049.00
22,Romania,Food Production,62989.00,60804.00,61463.00,59847.00,62280.00,61891.00,60996.00,61843.00,...,71555.00,68885.00,70546.00,65330.00,64818.00,61090.00,60827.00,66078.00,53690.00,60797.00
23,Slovakia,Food Production,0.00,0.00,0.00,13515.00,13147.00,12974.00,13712.00,13142.00,...,11072.00,10654.00,10800.00,10484.00,10704.00,11147.00,11573.00,11819.00,9786.00,10122.00
24,Slovenia,Food Production,0.00,0.00,4087.00,4454.00,4760.00,4842.00,5124.00,4998.00,...,5346.00,5182.00,4890.00,5009.00,5109.00,4901.00,4695.00,4652.00,4506.00,4495.00
25,Spain,Food Production,120074.00,120149.00,117991.00,117297.00,116546.00,110088.00,120240.00,126645.00,...,142711.00,134618.00,138483.00,144947.00,141519.00,136073.00,133940.00,133445.00,127967.00,137594.00
26,Sweden,Food Production,24271.00,23511.00,23707.00,24404.00,24661.00,24414.00,24832.00,25143.00,...,25203.00,24218.00,23504.00,24649.00,25508.00,25255.00,23938.00,25578.00,25908.00,26656.00
27,United Kingdom,Food Production,133515.00,129751.00,132955.00,131707.00,133588.00,129456.00,134946.00,137653.00,...,147730.00,150257.00,148738.00,146990.00,148209.00,145861.00,146770.00,146143.00,146451.00,149979.00
28,Austria,Pollution emissions,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,...,91382.84,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53
29,Belgium,Pollution emissions,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,...,149230.63,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38
30,Czech Republic,Pollution emissions,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,...,149624.67,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10
31,Denmark,Pollution emissions,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,...,71510.99,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37
32,Estonia,Pollution emissions,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,...,19374.74,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91
33,Finland,Pollution emissions,71133.01,68905.03,67468.05,69727.63,75345.91,71788.16,77674.76,76255.50,...,81841.15,69812.90,81174.19,79513.29,71399.31,67804.04,75626.97,67805.30,62415.21,62893.83
34,France,Pollution emissions,551048.69,578336.07,566696.93,545037.07,538663.61,546758.33,564086.62,556744.45,...,557794.01,559498.93,547093.23,536947.73,530315.42,510350.61,517115.54,491009.45,490856.47,491141.06
35,Germany,Pollution emissions,1250992.61,1203924.49,1153796.50,1144856.75,1125835.20,1123034.59,1141084.77,1106000.52,...,1019123.50,993343.68,1000637.86,973941.70,975645.90,908054.02,942541.89,920305.85,924611.40,942250.05
36,Greece,Pollution emissions,103101.31,103172.44,104423.09,104013.10,106804.21,109155.97,112302.56,117213.49,...,131814.31,136281.25,132390.97,134996.58,131716.46,124534.99,118436.49,115453.96,112146.28,102546.57
37,Hungary,Pollution emissions,93655.93,86996.93,76993.74,77860.25,76733.49,75319.56,77621.21,76126.02,...,75604.52,75359.66,74143.45,72383.62,70576.45,64585.79,64949.13,63351.01,59647.18,56795.77
38,Ireland,Pollution emissions,55417.06,56097.26,55959.17,56359.82,57697.03,59177.47,61272.68,62652.43,...,67963.83,69495.03,68782.23,68018.50,67301.83,61547.23,61104.84,56989.19,57611.53,57410.22
39,Italy,Pollution emissions,517745.65,518908.77,515451.15,509407.90,503474.65,532419.03,525294.65,531865.22,...,579999.23,580599.89,570044.72,560568.96,547846.69,496177.67,505773.05,492475.31,472722.36,442708.38
40,Latvia,Pollution emissions,26259.46,24365.54,19616.52,16199.65,14269.26,12893.29,12934.45,12382.56,...,11206.79,11387.93,11883.79,12339.42,11873.99,11176.16,12279.23,11489.40,11327.46,11259.72
41,Lithuania,Pollution emissions,48213.47,50213.09,30935.26,24834.45,23378.43,22348.70,23373.07,22907.43,...,21645.03,22849.56,23141.98,25294.38,24321.86,19909.40,20728.51,21294.55,21228.99,19945.81
42,Luxembourg,Pollution emissions,12756.38,13404.09,13132.85,13287.47,12466.21,10093.18,10154.56,9504.71,...,12783.08,13024.76,12852.45,12267.33,12153.88,11607.67,12180.08,12061.97,11781.30,11238.61
43,Netherlands,Pollution emissions,220793.63,228440.89,229170.72,229929.21,230815.64,231011.59,242076.95,233882.30,...,219970.34,214308.46,209233.95,207700.18,207095.00,201412.67,213363.03,199235.36,195346.94,194953.95
44,Poland,Pollution emissions,474350.11,462290.21,449315.75,448829.50,443645.88,444963.25,458389.54,449500.94,...,403040.15,403424.42,418137.52,418633.15,411395.64,393443.18,411668.71,411033.61,403648.28,399974.18
45,Portugal,Pollution emissions,59091.60,60795.85,65086.35,63669.57,64535.96,68927.38,66652.41,69943.26,...,83348.68,85610.35,80855.01,78574.83,76157.33,73032.49,68800.68,67416.85,65556.09,63710.73
46,Slovakia,Pollution emissions,73361.59,63969.61,58543.98,55034.44,52614.58,53212.04,53161.89,53023.21,...,51115.30,51142.22,51030.32,49243.41,49712.73,45429.07,46295.49,45545.21,43057.23,42727.14
47,Slovenia,Pollution emissions,18639.29,17320.15,17419.12,17621.30,18025.28,18720.72,19355.67,19707.85,...,20217.01,20519.46,20707.17,20847.16,21572.75,19601.55,19625.91,19634.79,19062.29,18359.17
48,Spain,Pollution emissions,288492.48,296204.04,305976.11,295737.62,312540.18,328614.07,320379.31,334703.80,...,426792.95,441038.21,434005.89,445157.52,411404.41,372107.49,357676.78,357344.00,350671.71,323441.20
49,Sweden,Pollution emissions,71303.68,71481.93,70923.03,71192.34,73570.96,73287.20,76893.86,72137.14,...,69319.21,66587.27,66536.13,64935.64,62566.50,58340.46,64282.22,60207.29,56872.55,55366.28
50,United Kingdom,Pollution emissions,797947.89,807118.94,786249.39,766960.72,757971.58,751272.37,773285.55,747861.87,...,702933.15,695164.99,688015.34,676322.44,655903.39,599870.78,614360.62,567160.79,583652.53,569901.74

In [58]:
df_together = df_together.set_index(['Country', 'Activity'])
df_together

,,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,Activity,,,,,,,,,,,,,,,,,,,,,
Austria,Food Production,24721.00,24461.00,24427.00,24317.00,24389.00,23295.00,22987.00,24459.00,23958.00,23080.00,...,24465.00,24466.00,24030.00,24431.00,25267.00,24731.00,24518.00,25444.00,24071.00,24990.00
Belgium,Food Production,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,35273.00,32353.00,32234.00,35016.00,34902.00,34964.00,32708.00,32196.00,31326.00,33336.00
Bulgaria,Food Production,26073.00,27231.00,21809.00,19150.00,19537.00,19805.00,17748.00,18398.00,19113.00,18766.00,...,17512.00,15388.00,14713.00,13637.00,13079.00,13281.00,13463.00,13007.00,11841.00,12335.00
Croatia,Food Production,0.00,0.00,9525.00,9972.00,10754.00,11546.00,11790.00,11910.00,12197.00,12078.00,...,12886.00,12187.00,11916.00,11476.00,13085.00,11937.00,11475.00,11247.00,10234.00,11467.00
Republic of Cyprus,Food Production,2320.00,2303.00,2532.00,2702.00,2598.00,2794.00,2729.00,2696.00,2735.00,2779.00,...,2385.00,2141.00,2234.00,2226.00,2474.00,2337.00,2438.00,2382.00,2186.00,2243.00
Czech Republic,Food Production,0.00,0.00,0.00,25372.00,28519.00,29661.00,30701.00,29272.00,28697.00,28563.00,...,28448.00,28060.00,24261.00,25583.00,25978.00,26598.00,25118.00,25227.00,23546.00,23978.00
Denmark,Food Production,23218.00,23248.00,23610.00,23199.00,23628.00,24633.00,25524.00,26599.00,26624.00,26560.00,...,27889.00,28266.00,28703.00,27657.00,27209.00,26677.00,27263.00,26527.00,25719.00,27260.00
Estonia,Food Production,0.00,0.00,4771.00,4294.00,3646.00,3675.00,3690.00,3864.00,3800.00,3876.00,...,3522.00,3793.00,3469.00,4006.00,3765.00,3780.00,3514.00,3633.00,3781.00,3864.00
Finland,Food Production,14901.00,13797.00,13703.00,13207.00,13711.00,13951.00,14118.00,14409.00,14548.00,14364.00,...,15085.00,15111.00,14580.00,15526.00,15567.00,15633.00,15254.00,15835.00,16137.00,16183.00
France,Food Production,171107.00,176966.00,170332.00,176487.00,173802.00,171303.00,172085.00,172722.00,175638.00,176283.00,...,181238.00,177327.00,172824.00,172974.00,177453.00,172872.00,167332.00,169166.00,164096.00,166079.00
Germany,Food Production,232351.00,211866.00,211566.00,205382.00,206518.00,207780.00,211402.00,205932.00,209584.00,206727.00,...,215978.00,217398.00,217313.00,215849.00,221273.00,222413.00,210659.00,214165.00,215798.00,218891.00
Greece,Food Production,28629.00,29661.00,30188.00,30280.00,31919.00,31646.00,32471.00,32752.00,33084.00,34861.00,...,37606.00,35873.00,35090.00,36091.00,35304.00,34021.00,31975.00,33246.00,32503.00,32742.00
Hungary,Food Production,39346.00,36099.00,31499.00,29053.00,32109.00,31241.00,32118.00,31400.00,31892.00,32308.00,...,30819.00,30426.00,29617.00,27713.00,27344.00,26985.00,25144.00,25388.00,24185.00,23635.00
Ireland,Food Production,11943.00,11496.00,11424.00,11510.00,12016.00,12293.00,11903.00,12727.00,12420.00,13535.00,...,15756.00,15474.00,15220.00,15227.00,16917.00,15851.00,15786.00,15572.00,16010.00,18160.00
Italy,Food Production,148199.00,152166.00,153521.00,148887.00,147704.00,148219.00,155230.00,152197.00,156458.00,161491.00,...,167995.00,164683.00,160462.00,160903.00,158423.00,158382.00,154867.00,156057.00,153460.00,153450.00
Latvia,Food Production,0.00,0.00,8167.00,7130.00,6687.00,6164.00,6684.00,6290.00,5643.00,5558.00,...,5657.00,5954.00,5751.00,5778.00,5401.00,5529.00,5303.00,5462.00,5217.00,4764.00
Lithuania,Food Production,0.00,0.00,9667.00,11171.00,9889.00,9595.00,10950.00,12535.00,12347.00,11216.00,...,10937.00,11435.00,9860.00,10866.00,10258.00,10224.00,9023.00,9634.00,10017.00,10206.00
Luxembourg,Food Production,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1308.00,1290.00,1295.00,1300.00,1377.00,1345.00,1375.00,1432.00,1501.00,1511.00
Malta,Food Production,819.00,828.00,860.00,894.00,847.00,888.00,999.00,988.00,1099.00,1090.00,...,1103.00,1084.00,1049.00,1147.00,1074.00,1008.00,966.00,977.00,994.00,1003.00
Netherlands,Food Production,70331.00,62610.00,66338.00,58813.00,63656.00,57322.00,58885.00,55002.00,54021.00,61762.00,...,55990.00,51748.00,54371.00,55267.00,55742.00,54980.00,53418.00,54448.00,53325.00,53832.00
Poland,Food Production,149870.00,141291.00,123873.00,140162.00,124010.00,133315.00,132085.00,128013.00,138942.00,130514.00,...,119996.00,108920.00,105204.00,117841.00,114496.00,114009.00,111292.00,114343.00,113530.00,110067.00
Portugal,Food Production,28181.00,27411.00,26344.00,27717.00,28202.00,28236.00,28121.00,28212.00,30510.00,30553.00,...,30299.00,28393.00,27894.00,29328.00,28977.00,28312.00,28263.00,28010.00,28480.00,28049.00
Romania,Food Production,62989.00,60804.00,61463.00,59847.00,62280.00,61891.00,60996.00,61843.00,62742.00,64218.00,...,71555.00,68885.00,70546.00,65330.00,64818.00,61090.00,60827.00,66078.00,53690.00,60797.00
Slovakia,Food Production,0.00,0.00,0.00,13515.00,13147.00,12974.00,13712.00,13142.00,12688.00,12362.00,...,11072.00,10654.00,10800.00,10484.00,10704.00,11147.00,11573.00,11819.00,9786.00,10122.00
Slovenia,Food Production,0.00,0.00,4087.00,4454.00,4760.00,4842.00,5124.00,4998.00,4795.00,5092.00,...,5346.00,5182.00,4890.00,5009.00,5109.00,4901.00,4695.00,4652.00,4506.00,4495.00
Spain,Food Production,120074.00,120149.00,117991.00,117297.00,116546.00,110088.00,120240.00,126645.00,130147.00,131408.00,...,142711.00,134618.00,138483.00,144947.00,141519.00,136073.00,133940.00,133445.00,127967.00,137594.00
Sweden,Food Production,24271.00,23511.00,23707.00,24404.00,24661.00,24414.00,24832.00,25143.00,24751.00,24746.00,...,25203.00,24218.00,23504.00,24649.00,25508.00,25255.00,23938.00,25578.00,25908.00,26656.00
United Kingdom,Food Production,133515.00,129751.00,132955.00,131707.00,133588.00,129456.00,134946.00,137653.00,137296.00,139757.00,...,147730.00,150257.00,148738.00,146990.00,148209.00,145861.00,146770.00,146143.00,146451.00,149979.00
Austria,Pollution emissions,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,80105.18,...,91382.84,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53
Belgium,Pollution emissions,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,148644.59,...,149230.63,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38
Czech Republic,Pollution emissions,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,148998.24,139448.48,...,149624.67,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10
Denmark,Pollution emissions,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,78076.83,75672.13,...,71510.99,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37
Estonia,Pollution emissions,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,18995.56,17652.00,...,19374.74,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91
Finland,Pollution emissions,71133.01,68905.03,67468.05,69727.63,75345.91,71788.16,77674.76,76255.50,72566.21,71981.47,...,81841.15,69812.90,81174.19,79513.29,71399.31,67804.04,75626.97,67805.30,62415.21,62893.83
France,Pollution emissions,551048.69,578336.07,566696.93,545037.07,538663.61,546758.33,564086.62,556744.45,570618.93,562660.84,...,557794.01,559498.93,547093.23,536947.73,530315.42,510350.61,517115.54,491009.45,490856.47,491141.06
Germany,Pollution emissions,1250992.61,1203924.49,1153796.50,1144856.75,1125835.20,1123034.59,1141084.77,1106000.52,1080728.82,1047033.51,...,1019123.50,993343.68,1000637.86,973941.70,975645.90,908054.02,942541.89,920305.85,924611.40,942250.05
Greece,Pollution emissions,103101.31,103172.44,104423.09,104013.10,106804.21,109155.97,112302.56,117213.49,122812.01,122983.42,...,131814.31,136281.25,132390.97,134996.58,131716.46,124534.99,118436.49,115453.96,112146.28,102546.57
Hungary,Pollution emissions,93655.93,86996.93,76993.74,77860.25,76733.49,75319.56,77621.21,76126.02,75668.40,76138.37,...,75604.52,75359.66,74143.45,72383.62,70576.45,64585.79,64949.13,63351.01,59647.18,56795.77
Ireland,Pollution emissions,55417.06,56097.26,55959.17,56359.82,57697.03,59177.47,61272.68,62652.43,65173.64,66308.69,...,67963.83,69495.03,68782.23,68018.50,67301.83,61547.23,61104.84,56989.19,57611.53,57410.22
Italy,Pollution emissions,517745.65,518908.77,515451.15,509407.90,503474.65,532419.03,525294.65,531865.22,543114.44,548226.46,...,579999.23,580599.89,570044.72,560568.96,547846.69,496177.67,505773.05,492475.31,472722.36,442708.38
Latvia,Pollution emissions,26259.46,24365.54,19616.52,16199.65,14269.26,12893.29,12934.45,12382.56,11883.59,11102.35,...,11206.79,11387.93,11883.79,12339.42,11873.99,11176.16,12279.23,11489.40,11327.46,11259.72
Lithuania,Pollution emissions,48213.47,50213.09,30935.26,24834.45,23378.43,22348.70,23373.07,22907.43,23844.27,21059.75,...,21645.03,22849.56,23141.98,25294.38,24321.86,19909.40,20728.51,21294.55,21228.99,19945.81
Luxembourg,Pollution emissions,12756.38,13404.09,13132.85,13287.47,12466.21,10093.18,10154.56,9504.71,8626.68,9092.59,...,12783.08,13024.76,12852.45,12267.33,12153.88,11607.67,12180.08,12061.97,11781.30,11238.61
Netherlands,Pollution emissions,220793.63,228440.89,229170.72,229929.21,230815.64,231011.59,242076.95,233882.30,234437.62,221104.56,...,219970.34,214308.46,209233.95,207700.18,207095.00,201412.67,213363.03,199235.36,195346.94,194953.95
Poland,Pollution emissions,474350.11,462290.21,449315.75,448829.50,443645.88,444963.25,458389.54,449500.94,417992.08,406559.57,...,403040.15,403424.42,418137.52,418633.15,411395.64,393443.18,411668.71,411033.61,403648.28,399974.18
Portugal,Pollution emissions,59091.60,60795.85,65086.35,63669.57,64535.96,68927.38,66652.41,69943.26,74682.24,82757.75,...,83348.68,85610.35,80855.01,78574.83,76157.33,73032.49,68800.68,67416.85,65556.09,63710.73
Slovakia,Pollution emissions,73361.59,63969.61,58543.98,55034.44,52614.58,53212.04,53161.89,53023.21,52434.57,51135.39,...,51115.30,51142.22,51030.32,49243.41,49712.73,45429.07,46295.49,45545.21,43057.23,42727.14
Slovenia,Pollution emissions,18639.29,17320.15,17419.12,17621.30,18025.28,18720.72,19355.67,19707.85,19464.38,18833.37,...,20217.01,20519.46,20707.17,20847.16,21572.75,19601.55,19625.91,19634.79,19062.29,18359.17
Spain,Pollution emissions,288492.48,296204.04,305976.11,295737.62,312540.18,328614.07,320379.31,334703.80,344565.81,372043.27,...,426792.95,441038.21,434005.89,445157.52,411404.41,372107.49,357676.78,357344.00,350671.71,323441.20
Sweden,Pollution emissions,71303.68,71481.93,70923.03,71192.34,73570.96,73287.20,76893.86,72137.14,72496.34,69631.22,...,69319.21,66587.27,66536.13,64935.64,62566.50,58340.46,64282.22,60207.29,56872.55,55366.28
United Kingdom,Pollution emissions,797947.89,807118.94,786249.39,766960.72,757971.58,751272.37,773285.55,747861.87,746499.57,715996.76,...,702933.15,695164.99,688015.34,676322.44,655903.39,599870.78,614360.62,567160.79,583652.53,569901.74

In [59]:
df_together=df_together.sort_values(by=['Country'])

In [60]:
df_together=df_together.sort_values(by=['Country']).T

In [61]:
df_together.to_csv(r'./output/food-pollution.csv')

In [62]:
df_together

Country          Austria                             Belgium  \
Activity Food Production Pollution emissions Food Production
1990             24721.0            78670.34             0.0
1991             24461.0            82349.31             0.0
1992             24427.0            75750.43             0.0
1993             24317.0            75932.30             0.0
1994             24389.0            76206.72             0.0
1995             23295.0            79584.03             0.0
1996             22987.0            82874.67             0.0
1997             24459.0            82405.08             0.0
1998             23958.0            81702.16             0.0
1999             23080.0            80105.18             0.0
2000             23298.0            80414.98         35680.0
2001             23707.0            84324.34         35763.0
2002             23230.0            86110.74         36506.0
2003             23479.0            91788.39         36217.0
2004             24465.0            91382.84         35273.0
2005             24466.0            92566.56         32353.0
2006             24030.0            90117.31         32234.0
2007             24431.0            87472.74         35016.0
2008             25267.0            86816.18         34902.0
2009             24731.0            80328.50         34964.0
2010             24518.0            84753.26         32708.0
2011             25444.0            82460.30         32196.0
2012             24071.0            79811.33         31326.0
2013             24990.0            80352.53         33336.0

Country                             Bulgaria         Croatia  Czech Republic  \
Activity Pollution emissions Food Production Food Production Food Production
1990               146586.61         26073.0             0.0             0.0
1991               149323.54         27231.0             0.0             0.0
1992               148920.40         21809.0          9525.0             0.0
1993               147890.40         19150.0          9972.0         25372.0
1994               152522.83         19537.0         10754.0         28519.0
1995               154665.23         19805.0         11546.0         29661.0
1996               158303.41         17748.0         11790.0         30701.0
1997               149781.67         18398.0         11910.0         29272.0
1998               154956.90         19113.0         12197.0         28697.0
1999               148644.59         18766.0         12078.0         28563.0
2000               149729.92         16572.0         11489.0         28075.0
2001               148131.89         16781.0         13187.0         28125.0
2002               147567.28         17109.0         13277.0         27970.0
2003               147932.27         15318.0         12438.0         26401.0
2004               149230.63         17512.0         12886.0         28448.0
2005               145283.84         15388.0         12187.0         28060.0
2006               142660.42         14713.0         11916.0         24261.0
2007               138960.92         13637.0         11476.0         25583.0
2008               138827.78         13079.0         13085.0         25978.0
2009               126262.69         13281.0         11937.0         26598.0
2010               132921.99         13463.0         11475.0         25118.0
2011               122198.36         13007.0         11247.0         25227.0
2012               119372.67         11841.0         10234.0         23546.0
2013               119304.38         12335.0         11467.0         23978.0

Country                              Denmark                      ...  \
Activity Pollution emissions Food Production Pollution emissions  ...
1990               197392.70         23218.0            70515.44  ...
1991               179181.86         23248.0            81145.74  ...
1992               172686.94         23610.0            75165.47  ...
1993               165018.18         23199.0            77370.35  ...
1994               157517.67         23628.0            81266.93  ...
1995               156717.54         24633.0            78332.12  ...
1996               159770.07         25524.0            91499.91  ...
1997               155160.05         26599.0            82058.46  ...
1998               148998.24         26624.0            78076.83  ...
1999               139448.48         26560.0            75672.13  ...
2000               149333.52         27055.0            71367.59  ...
2001               149096.97         27308.0            73066.25  ...
2002               145505.52         28295.0            72590.38  ...
2003               148758.85         28681.0            77644.97  ...
2004               149624.67         27889.0            71510.99  ...
2005               147494.14         28266.0            67090.87  ...
2006               148598.76         28703.0            74858.97  ...
2007               150336.77         27657.0            70293.31  ...
2008               145614.29         27209.0            66656.53  ...
2009               137214.52         26677.0            63875.91  ...
2010               139733.69         27263.0            64178.39  ...
2011               137753.14         26527.0            58946.94  ...
2012               133697.72         25719.0            54334.57  ...
2013               128691.10         27260.0            56021.37  ...

Country         Slovakia                                Slovenia  \
Activity Food Production Pollution emissions Pollution emissions
1990                 0.0            73361.59            18639.29
1991                 0.0            63969.61            17320.15
1992                 0.0            58543.98            17419.12
1993             13515.0            55034.44            17621.30
1994             13147.0            52614.58            18025.28
1995             12974.0            53212.04            18720.72
1996             13712.0            53161.89            19355.67
1997             13142.0            53023.21            19707.85
1998             12688.0            52434.57            19464.38
1999             12362.0            51135.39            18833.37
2000             11091.0            49196.02            19075.52
2001             11663.0            51474.96            19994.17
2002             11528.0            50119.83            20176.00
2003             10945.0            50423.82            19899.91
2004             11072.0            51115.30            20217.01
2005             10654.0            51142.22            20519.46
2006             10800.0            51030.32            20707.17
2007             10484.0            49243.41            20847.16
2008             10704.0            49712.73            21572.75
2009             11147.0            45429.07            19601.55
2010             11573.0            46295.49            19625.91
2011             11819.0            45545.21            19634.79
2012              9786.0            43057.23            19062.29
2013             10122.0            42727.14            18359.17

Country                                Spain                          Sweden  \
Activity Food Production Pollution emissions Food Production Food Production
1990                 0.0           288492.48        120074.0         24271.0
1991                 0.0           296204.04        120149.0         23511.0
1992              4087.0           305976.11        117991.0         23707.0
1993              4454.0           295737.62        117297.0         24404.0
1994              4760.0           312540.18        116546.0         24661.0
1995              4842.0           328614.07        110088.0         24414.0
1996              5124.0           320379.31        120240.0         24832.0
1997              4998.0           334703.80        126645.0         25143.0
1998              4795.0           344565.81        130147.0         24751.0
1999              5092.0           372043.27        131408.0         24746.0
2000              5095.0           387527.93        133017.0         24414.0
2001              4773.0           385240.59        131812.0         24469.0
2002              5186.0           403569.26        135708.0         24834.0
2003              4683.0           410975.15        142802.0         24928.0
2004              5346.0           426792.95        142711.0         25203.0
2005              5182.0           441038.21        134618.0         24218.0
2006              4890.0           434005.89        138483.0         23504.0
2007              5009.0           445157.52        144947.0         24649.0
2008              5109.0           411404.41        141519.0         25508.0
2009              4901.0           372107.49        136073.0         25255.0
2010              4695.0           357676.78        133940.0         23938.0
2011              4652.0           357344.00        133445.0         25578.0
2012              4506.0           350671.71        127967.0         25908.0
2013              4495.0           323441.20        137594.0         26656.0

Country                       United Kingdom
Activity Pollution emissions Food Production Pollution emissions
1990                71303.68        133515.0           797947.89
1991                71481.93        129751.0           807118.94
1992                70923.03        132955.0           786249.39
1993                71192.34        131707.0           766960.72
1994                73570.96        133588.0           757971.58
1995                73287.20        129456.0           751272.37
1996                76893.86        134946.0           773285.55
1997                72137.14        137653.0           747861.87
1998                72496.34        137296.0           746499.57
1999                69631.22        139757.0           715996.76
2000                68482.63        138666.0           715687.11
2001                68853.73        144443.0           718693.02
2002                69791.15        145480.0           699148.15
2003                70211.60        148295.0           706205.02
2004                69319.21        147730.0           702933.15
2005                66587.27        150257.0           695164.99
2006                66536.13        148738.0           688015.34
2007                64935.64        146990.0           676322.44
2008                62566.50        148209.0           655903.39
2009                58340.46        145861.0           599870.78
2010                64282.22        146770.0           614360.62
2011                60207.29        146143.0           567160.79
2012                56872.55        146451.0           583652.53
2013                55366.28        149979.0           569901.74

[24 rows x 51 columns]

In [63]:
df_together.shape

(24, 51)

In [64]:
#con esto me dice las dos actividades metiendo aÃ±o y pais. Hacer funciÃ³n.
df_together.loc['2000','Spain']

Activity
Pollution emissions    387527.93
Food Production        133017.00
Name: 2000, dtype: float64

In [65]:
df_together.columns.levels

FrozenList([['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Republic of Cyprus', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom'], ['Food Production', 'Pollution emissions']])

In [66]:
#me da la media de ambas actividades a lo largo de los aÃ±os por paÃ­s.
df_together[['Austria']].mean(axis=0)

Country  Activity
Austria  Food Production        24175.875000
         Pollution emissions    83095.009167
dtype: float64

In [67]:
df_together[['Austria']].max(axis=0)

Country  Activity
Austria  Food Production        25444.00
         Pollution emissions    92566.56
dtype: float64

In [68]:
#df_together.reset_index(level=0, inplace=True)
#df_together = df_together.rename(columns={"Index": "Year"})

In [69]:
df_emissions=df_emissions.T

In [70]:
df_emissions.columns = df_emissions.iloc[0]

In [71]:
df_emissions.drop(df_emissions.tail(1).index,inplace=True)

In [72]:
df_emissions.drop(df_emissions.head(1).index,inplace=True)

In [73]:
df_emissions.reset_index(level=0, inplace=True)

In [74]:
df_emissions = df_emissions.rename(columns={"index": "Year"})

Index(['Year', 'Austria', 'Belgium', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy',
       'Latvia', 'Lithuania', 'Luxembourg', 'Netherlands', 'Poland',
       'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'United Kingdom'],
      dtype='object', name='Country')

In [78]:
df_food=df_food.T

In [80]:
df_food.columns = df_food.iloc[0]

In [82]:
df_food.drop(df_food.tail(1).index,inplace=True)

In [83]:
df_food.drop(df_food.head(1).index,inplace=True)

In [84]:
df_food.reset_index(level=0, inplace=True)

In [85]:
df_food = df_food.rename(columns={"index": "Year"})

In [86]:
df_food

Country,Year,Austria,Belgium,Bulgaria,Croatia,Republic of Cyprus,Czech Republic,Denmark,Estonia,Finland,...,Malta,Netherlands,Poland,Portugal,Romania,Slovakia,Slovenia,Spain,Sweden,United Kingdom
0,1990,24721,0,26073,0,2320,0,23218,0,14901,...,819,70331,149870,28181,62989,0,0,120074,24271,133515
1,1991,24461,0,27231,0,2303,0,23248,0,13797,...,828,62610,141291,27411,60804,0,0,120149,23511,129751
2,1992,24427,0,21809,9525,2532,0,23610,4771,13703,...,860,66338,123873,26344,61463,0,4087,117991,23707,132955
3,1993,24317,0,19150,9972,2702,25372,23199,4294,13207,...,894,58813,140162,27717,59847,13515,4454,117297,24404,131707
4,1994,24389,0,19537,10754,2598,28519,23628,3646,13711,...,847,63656,124010,28202,62280,13147,4760,116546,24661,133588
5,1995,23295,0,19805,11546,2794,29661,24633,3675,13951,...,888,57322,133315,28236,61891,12974,4842,110088,24414,129456
6,1996,22987,0,17748,11790,2729,30701,25524,3690,14118,...,999,58885,132085,28121,60996,13712,5124,120240,24832,134946
7,1997,24459,0,18398,11910,2696,29272,26599,3864,14409,...,988,55002,128013,28212,61843,13142,4998,126645,25143,137653
8,1998,23958,0,19113,12197,2735,28697,26624,3800,14548,...,1099,54021,138942,30510,62742,12688,4795,130147,24751,137296
9,1999,23080,0,18766,12078,2779,28563,26560,3876,14364,...,1090,61762,130514,30553,64218,12362,5092,131408,24746,139757
10,2000,23298,35680,16572,11489,2411,28075,27055,4388,14508,...,1096,59552,131627,29707,57803,11091,5095,133017,24414,138666
11,2001,23707,35763,16781,13187,2569,28125,27308,4326,14906,...,1096,59524,127756,30145,62575,11663,4773,131812,24469,144443
12,2002,23230,36506,17109,13277,2504,27970,28295,3800,14810,...,1061,54010,119938,28812,63550,11528,5186,135708,24834,145480
13,2003,23479,36217,15318,12438,2337,26401,28681,3530,15281,...,1093,52516,114677,28340,68788,10945,4683,142802,24928,148295
14,2004,24465,35273,17512,12886,2385,28448,27889,3522,15085,...,1103,55990,119996,30299,71555,11072,5346,142711,25203,147730
15,2005,24466,32353,15388,12187,2141,28060,28266,3793,15111,...,1084,51748,108920,28393,68885,10654,5182,134618,24218,150257
16,2006,24030,32234,14713,11916,2234,24261,28703,3469,14580,...,1049,54371,105204,27894,70546,10800,4890,138483,23504,148738
17,2007,24431,35016,13637,11476,2226,25583,27657,4006,15526,...,1147,55267,117841,29328,65330,10484,5009,144947,24649,146990
18,2008,25267,34902,13079,13085,2474,25978,27209,3765,15567,...,1074,55742,114496,28977,64818,10704,5109,141519,25508,148209
19,2009,24731,34964,13281,11937,2337,26598,26677,3780,15633,...,1008,54980,114009,28312,61090,11147,4901,136073,25255,145861
20,2010,24518,32708,13463,11475,2438,25118,27263,3514,15254,...,966,53418,111292,28263,60827,11573,4695,133940,23938,146770
21,2011,25444,32196,13007,11247,2382,25227,26527,3633,15835,...,977,54448,114343,28010,66078,11819,4652,133445,25578,146143
22,2012,24071,31326,11841,10234,2186,23546,25719,3781,16137,...,994,53325,113530,28480,53690,9786,4506,127967,25908,146451
23,2013,24990,33336,12335,11467,2243,23978,27260,3864,16183,...,1003,53832,110067,28049,60797,10122,4495,137594,26656,149979

In [77]:
import matplotlib.pyplot as plt
plt.plot('Country', 'Activity', data=df_together, color = 'red', linewidth=2)
plt.plot('Country', 'Activity', data=df_together, color='cyan', linewidth=2)
plt.legend()
plt.title('EvoluciÃ³n ataques de tiburones')

ValueError: Unrecognized character A in format string