In [31]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [32]:
df_emis = pd.read_csv("./output/Scrapped-Pollution-emissions2.csv")

In [33]:
df_emis.head()

,Unnamed: 0,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Australia,420315.32,421381.46,425702.48,426232.23,426304.97,434912.95,442506.14,454629.30,...,537031.99,540913.37,537275.25,538280.61,540615.87,530433.52,524957.10,535173.67,546771.76,554126.56
1,1,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,...,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53,76679.76,78897.25,79596.11,82261.47
2,2,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,...,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38,113505.97,117122.09,115783.18,114539.90
3,3,Canada,602184.44,593402.36,610440.86,612264.42,633675.45,651011.02,672053.10,686988.02,...,723225.10,681699.30,692618.85,703378.95,711023.23,722062.81,723090.99,721992.08,707727.17,715749.23
4,4,Chile,52015.93,50681.03,52578.97,55432.31,58349.10,61452.14,67715.10,75203.29,...,94261.93,90886.58,91862.26,99861.19,104492.36,104304.35,101473.89,108243.31,111677.51,..

In [34]:
def SelectCols(df):
    df=df[['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']]
    return df

In [35]:
df_emis=SelectCols(df_emis)

In [36]:
df_emis.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Australia,420315.32,421381.46,425702.48,426232.23,426304.97,434912.95,442506.14,454629.30,468405.89,...,515931.29,521801.01,526437.29,533138.42,537031.99,540913.37,537275.25,538280.61,540615.87,530433.52
1,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,91382.84,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53
2,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,149230.63,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38
3,Canada,602184.44,593402.36,610440.86,612264.42,633675.45,651011.02,672053.10,686988.02,694531.39,...,742971.64,730349.48,721444.53,743766.91,723225.10,681699.30,692618.85,703378.95,711023.23,722062.81
4,Chile,52015.93,50681.03,52578.97,55432.31,58349.10,61452.14,67715.10,75203.29,76151.21,...,82609.00,84333.73,85554.92,93655.96,94261.93,90886.58,91862.26,99861.19,104492.36,104304.35

In [37]:
def CorrectNameCols(df):
    df['Country'][28]='Slovakia'
    return df

In [38]:
df_emis=CorrectNameCols(df_emis)

In [39]:
def SelectCountries(df):
    eu=['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
    'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 
    'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom']

    df = df[df['Country'].isin(eu)]
    return df

In [40]:
df_emis=SelectCountries(df_emis)

In [43]:
df_emis.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
1,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,91382.84,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53
2,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,149230.63,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38
5,Czech Republic,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,148998.24,...,149624.67,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10
6,Denmark,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,78076.83,...,71510.99,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37
7,Estonia,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,18995.56,...,19374.74,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91

In [44]:
def ReplaceUnknownVal(df):
    df=df.replace('..', 0.0)
    return df

In [45]:
df_emis=ReplaceUnknownVal(df_emis)

In [46]:
df_emis

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
1,Austria,78670.34,82349.31,75750.43,75932.30,76206.72,79584.03,82874.67,82405.08,81702.16,...,91382.84,92566.56,90117.31,87472.74,86816.18,80328.50,84753.26,82460.30,79811.33,80352.53
2,Belgium,146586.61,149323.54,148920.40,147890.40,152522.83,154665.23,158303.41,149781.67,154956.90,...,149230.63,145283.84,142660.42,138960.92,138827.78,126262.69,132921.99,122198.36,119372.67,119304.38
5,Czech Republic,197392.70,179181.86,172686.94,165018.18,157517.67,156717.54,159770.07,155160.05,148998.24,...,149624.67,147494.14,148598.76,150336.77,145614.29,137214.52,139733.69,137753.14,133697.72,128691.10
6,Denmark,70515.44,81145.74,75165.47,77370.35,81266.93,78332.12,91499.91,82058.46,78076.83,...,71510.99,67090.87,74858.97,70293.31,66656.53,63875.91,64178.39,58946.94,54334.57,56021.37
7,Estonia,40431.51,37283.66,27292.13,21350.74,22058.74,20258.55,20960.17,20584.72,18995.56,...,19374.74,19203.24,18498.05,22224.69,20046.14,16757.93,21213.67,21258.93,20170.85,21941.91
8,Finland,71133.01,68905.03,67468.05,69727.63,75345.91,71788.16,77674.76,76255.50,72566.21,...,81841.15,69812.90,81174.19,79513.29,71399.31,67804.04,75626.97,67805.30,62415.21,62893.83
9,France,551048.69,578336.07,566696.93,545037.07,538663.61,546758.33,564086.62,556744.45,570618.93,...,557794.01,559498.93,547093.23,536947.73,530315.42,510350.61,517115.54,491009.45,490856.47,491141.06
10,Germany,1250992.61,1203924.49,1153796.50,1144856.75,1125835.20,1123034.59,1141084.77,1106000.52,1080728.82,...,1019123.50,993343.68,1000637.86,973941.70,975645.90,908054.02,942541.89,920305.85,924611.40,942250.05
11,Greece,103101.31,103172.44,104423.09,104013.10,106804.21,109155.97,112302.56,117213.49,122812.01,...,131814.31,136281.25,132390.97,134996.58,131716.46,124534.99,118436.49,115453.96,112146.28,102546.57
12,Hungary,93655.93,86996.93,76993.74,77860.25,76733.49,75319.56,77621.21,76126.02,75668.40,...,75604.52,75359.66,74143.45,72383.62,70576.45,64585.79,64949.13,63351.01,59647.18,56795.77
14,Ireland,55417.06,56097.26,55959.17,56359.82,57697.03,59177.47,61272.68,62652.43,65173.64,...,67963.83,69495.03,68782.23,68018.50,67301.83,61547.23,61104.84,56989.19,57611.53,57410.22
16,Italy,517745.65,518908.77,515451.15,509407.90,503474.65,532419.03,525294.65,531865.22,543114.44,...,579999.23,580599.89,570044.72,560568.96,547846.69,496177.67,505773.05,492475.31,472722.36,442708.38
19,Latvia,26259.46,24365.54,19616.52,16199.65,14269.26,12893.29,12934.45,12382.56,11883.59,...,11206.79,11387.93,11883.79,12339.42,11873.99,11176.16,12279.23,11489.40,11327.46,11259.72
20,Lithuania,48213.47,50213.09,30935.26,24834.45,23378.43,22348.70,23373.07,22907.43,23844.27,...,21645.03,22849.56,23141.98,25294.38,24321.86,19909.40,20728.51,21294.55,21228.99,19945.81
21,Luxembourg,12756.38,13404.09,13132.85,13287.47,12466.21,10093.18,10154.56,9504.71,8626.68,...,12783.08,13024.76,12852.45,12267.33,12153.88,11607.67,12180.08,12061.97,11781.30,11238.61
23,Netherlands,220793.63,228440.89,229170.72,229929.21,230815.64,231011.59,242076.95,233882.30,234437.62,...,219970.34,214308.46,209233.95,207700.18,207095.00,201412.67,213363.03,199235.36,195346.94,194953.95
26,Poland,474350.11,462290.21,449315.75,448829.50,443645.88,444963.25,458389.54,449500.94,417992.08,...,403040.15,403424.42,418137.52,418633.15,411395.64,393443.18,411668.71,411033.61,403648.28,399974.18
27,Portugal,59091.60,60795.85,65086.35,63669.57,64535.96,68927.38,66652.41,69943.26,74682.24,...,83348.68,85610.35,80855.01,78574.83,76157.33,73032.49,68800.68,67416.85,65556.09,63710.73
28,Slovakia,73361.59,63969.61,58543.98,55034.44,52614.58,53212.04,53161.89,53023.21,52434.57,...,51115.30,51142.22,51030.32,49243.41,49712.73,45429.07,46295.49,45545.21,43057.23,42727.14
29,Slovenia,18639.29,17320.15,17419.12,17621.30,18025.28,18720.72,19355.67,19707.85,19464.38,...,20217.01,20519.46,20707.17,20847.16,21572.75,19601.55,19625.91,19634.79,19062.29,18359.17
30,Spain,288492.48,296204.04,305976.11,295737.62,312540.18,328614.07,320379.31,334703.80,344565.81,...,426792.95,441038.21,434005.89,445157.52,411404.41,372107.49,357676.78,357344.00,350671.71,323441.20
31,Sweden,71303.68,71481.93,70923.03,71192.34,73570.96,73287.20,76893.86,72137.14,72496.34,...,69319.21,66587.27,66536.13,64935.64,62566.50,58340.46,64282.22,60207.29,56872.55,55366.28
34,United Kingdom,797947.89,807118.94,786249.39,766960.72,757971.58,751272.37,773285.55,747861.87,746499.57,...,702933.15,695164.99,688015.34,676322.44,655903.39,599870.78,614360.62,567160.79,583652.53,569901.74

In [47]:
def ChangeColType(df):
    for col in df.columns:
        if col=='Country':
            df[col] = df[col].astype(str)
        else:
            df[col] = df[col].astype(float)
    return df

In [48]:
df_emis=ChangeColType(df_emis)

In [50]:
def TransformDf(df):
    df=df.T
    df.columns = df.iloc[0]
    df.drop(df.tail(1).index,inplace=True) 
    df.drop(df.head(1).index,inplace=True)
    df.reset_index(level=0, inplace=True)
    df = df.rename(columns={"index": "Year"})
    
    return df

In [51]:
df_emis=TransformDf(df_emis)

In [52]:
df_emis

Country,Year,Austria,Belgium,Czech Republic,Denmark,Estonia,Finland,France,Germany,Greece,...,Lithuania,Luxembourg,Netherlands,Poland,Portugal,Slovakia,Slovenia,Spain,Sweden,United Kingdom
0,1990,78670.3,146587,197393,70515.4,40431.5,71133,551049,1.25099e+06,103101,...,48213.5,12756.4,220794,474350,59091.6,73361.6,18639.3,288492,71303.7,797948
1,1991,82349.3,149324,179182,81145.7,37283.7,68905,578336,1.20392e+06,103172,...,50213.1,13404.1,228441,462290,60795.8,63969.6,17320.2,296204,71481.9,807119
2,1992,75750.4,148920,172687,75165.5,27292.1,67468.1,566697,1.1538e+06,104423,...,30935.3,13132.9,229171,449316,65086.3,58544,17419.1,305976,70923,786249
3,1993,75932.3,147890,165018,77370.4,21350.7,69727.6,545037,1.14486e+06,104013,...,24834.5,13287.5,229929,448830,63669.6,55034.4,17621.3,295738,71192.3,766961
4,1994,76206.7,152523,157518,81266.9,22058.7,75345.9,538664,1.12584e+06,106804,...,23378.4,12466.2,230816,443646,64536,52614.6,18025.3,312540,73571,757972
5,1995,79584,154665,156718,78332.1,20258.5,71788.2,546758,1.12303e+06,109156,...,22348.7,10093.2,231012,444963,68927.4,53212,18720.7,328614,73287.2,751272
6,1996,82874.7,158303,159770,91499.9,20960.2,77674.8,564087,1.14108e+06,112303,...,23373.1,10154.6,242077,458390,66652.4,53161.9,19355.7,320379,76893.9,773286
7,1997,82405.1,149782,155160,82058.5,20584.7,76255.5,556744,1.106e+06,117213,...,22907.4,9504.71,233882,449501,69943.3,53023.2,19707.8,334704,72137.1,747862
8,1998,81702.2,154957,148998,78076.8,18995.6,72566.2,570619,1.08073e+06,122812,...,23844.3,8626.68,234438,417992,74682.2,52434.6,19464.4,344566,72496.3,746500
9,1999,80105.2,148645,139448,75672.1,17652,71981.5,562661,1.04703e+06,122983,...,21059.8,9092.59,221105,406560,82757.8,51135.4,18833.4,372043,69631.2,715997
10,2000,80415,149730,149334,71367.6,17359.6,70129.8,556370,1.04519e+06,126346,...,19503.3,9678.14,219304,395472,82082,49196,19075.5,387528,68482.6,715687
11,2001,84324.3,148132,149097,73066.2,17760.3,75490.3,561355,1.06027e+06,127399,...,20253.1,10165.4,220007,394371,81689.8,51475,19994.2,385241,68853.7,718693
12,2002,86110.7,147567,145506,72590.4,17221.2,77946.7,554879,1.03892e+06,127395,...,20648.1,10941.9,217879,384386,85600.8,50119.8,20176,403569,69791.1,699148
13,2003,91788.4,147932,148759,77645,19110,85531.9,559544,1.03557e+06,131132,...,20810,11380.8,218564,398005,80266.2,50423.8,19899.9,410975,70211.6,706205
14,2004,91382.8,149231,149625,71511,19374.7,81841.1,557794,1.01912e+06,131814,...,21645,12783.1,219970,403040,83348.7,51115.3,20217,426793,69319.2,702933
15,2005,92566.6,145284,147494,67090.9,19203.2,69812.9,559499,993344,136281,...,22849.6,13024.8,214308,403424,85610.4,51142.2,20519.5,441038,66587.3,695165
16,2006,90117.3,142660,148599,74859,18498,81174.2,547093,1.00064e+06,132391,...,23142,12852.5,209234,418138,80855,51030.3,20707.2,434006,66536.1,688015
17,2007,87472.7,138961,150337,70293.3,22224.7,79513.3,536948,973942,134997,...,25294.4,12267.3,207700,418633,78574.8,49243.4,20847.2,445158,64935.6,676322
18,2008,86816.2,138828,145614,66656.5,20046.1,71399.3,530315,975646,131716,...,24321.9,12153.9,207095,411396,76157.3,49712.7,21572.8,411404,62566.5,655903
19,2009,80328.5,126263,137215,63875.9,16757.9,67804,510351,908054,124535,...,19909.4,11607.7,201413,393443,73032.5,45429.1,19601.5,372107,58340.5,599871
20,2010,84753.3,132922,139734,64178.4,21213.7,75627,517116,942542,118436,...,20728.5,12180.1,213363,411669,68800.7,46295.5,19625.9,357677,64282.2,614361
21,2011,82460.3,122198,137753,58946.9,21258.9,67805.3,491009,920306,115454,...,21294.5,12062,199235,411034,67416.9,45545.2,19634.8,357344,60207.3,567161
22,2012,79811.3,119373,133698,54334.6,20170.8,62415.2,490856,924611,112146,...,21229,11781.3,195347,403648,65556.1,43057.2,19062.3,350672,56872.6,583653

In [ ]:
def ExportCleanDfEmissions(df):
    return df.to_csv(r'./output/Pollution-emissions.csv')